.list-group-item {
    border: 0px;
}

hr {
    border-top: 0px;
}

.hr-default {
    border-top: var(--bs-border-width) solid;
}

.link-auto {
    color: var(--bs-light-text)
}

.text-nav-item-auto {
    color: var(--bs-body-color)
}

.form-control,
.form-select {
    background-color: var(--bs-body-bg) !important;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background-color: var(--bs-body-bg);
}

*::-webkit-scrollbar {
    width: 6px;
    background-color: var(--bs-body-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--bs-body-color);
}

.btn {
    --bs-btn-border-radius: 0px;
}

.form-check-input, .form-check {
    --bs-form-check-bg: rgba(0,0,0,0);    
    padding-left: 0;
}

.form-control, .form-select {
    border-radius: 0px;

}

.accordion-button, .accordion-item {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.card {
    border-radius: 0;
}

.form-check-input {
    margin-left: 0 !important;
}
